

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">
<main>
<div class="card">
  <% resorts.forEach(resort => { %>
  <div class="card-body">
    <div class="card-titles-container">
     <h2 class="card-title"><%= resort.resortName %></h2>
      <h3 class="card-subtitle subtitle mb-2 text-muted"><%= resort.resortState %>, <%= resort.resortCountry %></h3>
    </div>
    <div class="card-buttons-container">
      <a href="/<%=resort.id%>" >View</a>

      <form
      method="POST"
      action="/<%=resort.id%>?_method=DELETE"
        class="removeFormMargin"
      >
        <input class="btn-secondary" type="submit"        value="Delete" />
      </form>
    </div>
  </div>


  <% }) %>






  </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
