

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">
<main>
  <div class="card">

  <div class=" list-group  page-title-container">
   <h1 class="page-title">
    My Resorts
  </h1>
  <a class="btn-anchor btn-primary" href="">
    <i class="fa-solid fa-plus"></i>
    Add Resort
  </a>
</div>

  <% resorts.forEach(resort => { %>
  <div class="card-body">
    <div class="card-titles-container">
     <h2 class="card-title"><%= resort.resortName %></h2>
      <h3 class="card-subtitle subtitle mb-2 text-muted"><%= resort.resortState %>, <%= resort.resortCountry %></h3>
    </div>
    <div class="card-buttons-container">
      <a href="resorts/<%=resort.id%>" >
        <button title="View Resort" class="btn btn-primary">
          View
        </button>
      </a>

      <form
      method="POST"
      action="/<%=resort.id%>?_method=DELETE"
        class="removeFormMargin"
      >
        <input class="btn btn-secondary" type="submit"  
        title="Delete Resort"      value="Delete" />
      </form>
    </div>
  </div>


  <% }) %>






  </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
