<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
  <header><%- include('../partials/header'); %></header>

  <div class="list-group page-title-container list-group-item active">
    <h1 class="page-title"><%= query %></h1>
    <a class="btn-anchor btn-secondary" href="/date/new">
      <i class="fa-solid fa-plus"></i>
      Add Date/Run
    </a>
  </div>

  <%if(dates.length === 0) { %>

  <div class="alert alert-dismissible alert-secondary" style="margin-top: 3px">
    <h4 class="alert-heading">Uh oh!</h4>
    <p class="mb-0">
      You haven't added any powder days for <%=query%>.
      <a href="/date/new" class="alert-link"
        >Click here to add those sweet pow notes!</a
      >
      Or
      <a href="/resorts/" class="alert-link"
        >here to return to the home page.</a
      >
    </p>
  </div>

  <%}%>

  <div class="card-columns">
    <% dates.forEach(date => { %>
    <div class="card bg-secondary">
      <div class="card-header">
        <% let formattedDate = ('0' + (date.date.getMonth()+1)).slice(-2) + '-'
        + ('0' + date.date.getDate()).slice(-2) + '-' + date.date.getFullYear()
        %>

        <div style="color: white"><%= formattedDate %></div>
        <div>
          <form
            method="POST"
            action="/date/<%=date.resortName%>/<%= formattedDate %>?_method=DELETE"
          >
            <input
              type="submit"
              class="btn-outline-light btn-delete-date"
              title="Delete"
              value="X"
            />
          </form>
        </div>
      </div>

      <div class="card-body card-body-dates text-center">
        <div class="card-buttons-container">
          <a href="/date/<%=date.resortName%>/<%=formattedDate%>">
            <button title="View Date" class="btn btn-primary btn-view-date">
              View
            </button>
          </a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

  <footer><%- include('../partials/footer'); %></footer>
</body>
