<head><%- include('../partials/head'); %></head>
  

<body class="container">
    <header><%- include('../partials/header'); %></header>


    <h2>showday.ejs</h2>

    <%= day[0].resortName %>
    <%= day[0].runName %>


    <footer><%- include('../partials/footer'); %></footer>
</body>